<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap / CSS -->
    <link rel="stylesheet" href="../../../../Public/styles/custom-vagas-candidatadas.css">

    <title>Vagas Candidatadas</title>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="header">
        <div class="container-fluid background-navbar">
            <a class="navbar-brand" href="#"><img src="../../../../Public/images/global/logo.svg" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../../../Public/images/global/navbar-button.svg" class="navbar-button">
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Gestor</a>
                    <a class="nav-link" href="#">Gerar Vaga</a>
                    <a class="nav-link" href="#">Requisições</a>
                    <a class="nav-link" href="#">Vagas</a>
                    <a class="nav-link" href="#">Sobre</a>
                    <a class="nav-link" href="#">Suporte</a>
                    <a class="nav-link" href="#">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <!--body-->
    <form action="requisitante.php" method="post">
        <div class="container">

            <!--parte de cima do perfil-->
            <div class="row d-flex justify-content-center perfil-box">

                <div class="row row-img-names">
                    <div class="img-perfil"></div>

                    <div class="names">
                        <h1 class="nome-perfil">Nome Perfil</h1>
                        <h2 class="nome-usuario">nome_usuario</h2>
                    </div>
                </div>

                <p class="mb-3 descricao-perfil">
                    Aqui fica a descrição do perfil personalizada, diga-nos um pouco
                    sobre você. Aqui fica a sua descrição do perfil personalizada, diga-nos um pouco
                    sobre você. Aqui fica a sua descrição do perfil personalizada, diga-nos um pouco
                    sobre você.
                </p>

                <div class="buttons">
                    <button type="button" class="btn btn-outline-primary mb-2">Editar Perfil</button>
                    <button type="button" class="btn btn-outline-primary mb-2 select">Vagas Candidatadas</button>
                </div>
            </div>

            <hr>

            <!--parte de baixo do perfil-->
            <img src="../../../../Public/images/global/info.svg" class="instructions">

            <!--Animated bars-->
            <div class="row mb-3 vagas">
                <!--6%-->
                <div class="mb-3 vaga" id="1-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-6" per="6%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/load.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Resultado</button>
                    </div>
                </div>

                <!--24%-->
                <div class="mb-3 vaga" id="2-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-24" per="24%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="../../../../Public/images/custom-perfil/wrong.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Resultado</button>
                    </div>
                </div>

                <!--41%-->
                <div class="mb-3 vaga" id="3-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-41" per="41%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="../../../../Public/images/custom-perfil/load.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2">Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Resultado</button>
                    </div>
                </div>

                <!--59%-->
                <div class="mb-3 vaga" id="4-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-59" per="59%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="../../../../Public/images/custom-perfil/load.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2">Resultado</button>
                    </div>
                </div>

                <!--77%-->
                <div class="vaga" id="5-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-77" per="77%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="../../../../Public/images/custom-perfil/load.svg">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2">Resultado</button>
                    </div>
                </div>

                <!--94%-->
                <div class="vaga" id="6-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-94" per="94%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="../../../../Public/images/custom-perfil/wrong.svg">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2">Resultado</button>
                    </div>
                </div>

                <!--100%-->
                <div class="vaga" id="7-etapa">
                    <div class="title">
                        <h2 class="title-2">Engenheiro Elétrico Júnior</h2>
                    </div>

                    <div class="vaga-bar">
                        <div class="vaga-per-100" per="100%"></div>
                    </div>

                    <div class="mb-3 texts">
                        <div class="text-box">
                            <span>Upload <br> do <br> Currículo</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Liberado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Teste <br> já <br> Realizado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Marcada</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Entrevista <br> já <br> Realizada</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>

                        <div class="text-box">
                            <span>Candidato <br> foi <br> Contratado</span>
                            <img src="../../../../Public/images/custom-perfil/checked.svg">
                        </div>
                    </div>

                    <div class="row buttons-bar">
                        <button type="button" class="btn btn-outline-primary mb-2" disabled>Realizar Teste</button>
                        <button type="button" class="btn btn-outline-primary mb-2">Resultado</button>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button type="button" class="btn btn-outline-primary mb-5">Voltar</button>
            </div>
        </div>
    </form>

    <!--Footer-->
    <footer class="footer">
        <img src="../../../../Public/images/global/linkedin.svg" class="img-footer" onclick="">
        <img src="../../../../Public/images/global/facebook.svg" class="img-footer" onclick="">
        <img src="../../../../Public/images/global/email.svg" class="img-footer" onclick="">
        <label class="label-footer">+55 (15) 5555-5555</label>
    </footer>

    <!--Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>

    <script src="../../../../Public/scripts/manager-scripts/gerar-requisicao-de-vaga.js"></script>
</body>

</html>