<!doctype html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap / CSS -->
    <link rel="stylesheet" href="../../../../Public/styles/custom-relatorio-indicadores-desempenho.css">
    <link rel="stylesheet" href="../../../../Public/styles/custom-relatorio-indicadores-barras.css">

    <title>Relatório de Indicadores de Desempenho</title>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="header">
        <div class="container-fluid background-navbar">
            <a class="navbar-brand" href="#"><img src="../../../../Public/images/global/logo.svg" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../../../Public/images/global/navbar-button.svg" class="navbar-button">
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Gestor</a>
                    <a class="nav-link" href="#">Gerar Vaga</a>
                    <a class="nav-link" href="#">Requisições</a>
                    <a class="nav-link" href="#">Vagas</a>
                    <a class="nav-link" href="#">Sobre</a>
                    <a class="nav-link" href="#">Suporte</a>
                    <a class="nav-link" href="#">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <!--Body-->
    <div class="principal" id="body">

        <div class="title">
            <h1 class="title-1">Relatório de Indicadores de Desempenho</h1>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Período</label>
            <div class="col-sm-10">
                <input type="date" class="form-control edit" id="colFormLabel"
                 placeholder="" name="data-de-inicio">
                <center class="a">à</center>
                <input type="date" class="form-control edit" id="colFormLabel"
                 placeholder="" name="data-de-termino">
            </div>
        </div>

        <!--Gráfico de Pizza-->
        <canvas id="canvas" width="300" height="300"></canvas>

        <table id="mydata" class="TB">     
            <thead>
                <tr>
                    <th class="Assunto">#</th>
                    <th class="Val">Valor</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">100</td>
                </tr>     
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">200</td> 
                </tr>     
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">300</td> 
                </tr>     
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">50</td> 
                </tr>     
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">30</td> 
                </tr>     
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">10</td> 
                </tr>
                <tr>
                    <td class="Assunto">#</td> 
                    <td class="Val">30</td> 
                </tr>
            </tbody> 
        </table>
        <br><br>

        <!--Gráfico de Barras-->
        <div class="grafico-barras">
            <div class="colunas">
                <div class="escala-y">
                    <div class="divisao">Qtde</div>
                    <div class="divisao">Qtde</div>
                    <div class="divisao">Qtde</div>
                    <div class="divisao">Qtde</div>
                    <div class="divisao">Qtde</div>
                    <div class="divisao">Qtde</div>
                    <div class="divisao">0</div>
                </div>
                <div class="area-grafico">
                    <div class="area-barras">
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                        <div class="divisao">
                            <div class="barra verde" style="height: 30%"></div>
                            <div class="barra azul" style="height: 60%"></div>
                            <div class="barra vermelha" style="height: 20%"></div>
                        </div>
                    </div>
                    <div class="escala-x">
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                        <div class="divisao">
                            Mês<br>
                            Ano
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="TB-Barras">     
            <tbody>
                <tr>
                    <td class="Cor1">#</td> 
                    <td class="Assunto">#</td>
                </tr>     
                <tr>
                    <td class="Cor2">#</td> 
                    <td class="Assunto">#</td> 
                </tr>     
                <tr>
                    <td class="Cor3">#</td> 
                    <td class="Assunto">#</td> 
                </tr>
            </tbody> 
        </table>
        <br><br>

        <!--Inputs-->
        <div class="row mb-2">
            <label for="colFormLabel" class="label">Processos Iniciados</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Processos Finalizados</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Tempo Médio de Contratação</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Vagas em Aberto</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Custo Médio da Vaga</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Custo Total</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Vagas Preenchidas</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>

        <div class="row mb-2">
            <label for="colFormLabel" class="label">Vagas Não Preenchidas</label>
            <div class="col-sm-10">
                <input name="Responsavel" type="text" class="input-1" readonly/>
            </div>
        </div>
        <br><br>
            
        <center>
            <a href="./gerar-relatorio.html"><input name="Voltar" type="button"
            value="Voltar" class="btn btn-outline-primary mb-5"></a>
        </center>

        </div>
    </form>

        <!--Footer-->
        <footer class="footer">
            <img src="../../../../Public/images/global/linkedin.svg" class="img-footer" onclick="">
            <img src="../../../../Public/images/global/facebook.svg" class="img-footer" onclick="">
            <img src="../../../../Public/images/global/email.svg" class="img-footer" onclick="">
            <label class="label-footer">+55 (15) 5555-5555</label>
        </footer>

        <!--Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>

        <script src="../../../../Public/scripts/employee-scripts/relatorio-indicadores-desempenho.js">
        </script>
</body>

</html>