@import url(./bootstrap.min.css);
@import url(./global.css);

/*parte de cima*/
.title{
    width: 100%;
}

.form-label{
    width: 150px;
}

.img-info{
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

/*forms*/
.form-select{
    margin-left: 0px;
    margin-right: 11px;
    height: 23px;
    width: 140px;
    font-size: 15px;
    padding: 0 0 0 10px;
    color: #212529;
}

.form-select:focus{
    box-shadow: 0 0 5px #9a5ec9;
    border-color: #ced4da;
}

/*cards*/
.bottom-area{
    height: 35vh;
}

.card{
    display: flex;
    flex-direction: row;
    max-width: 336px;
    margin-bottom: 15px;
    border: 1px solid #7a18c5;
    border-radius: 0px;
    padding: 5px;
}

.card-body{
    margin: 0 0 0 7px;
    width: 85%;
    padding: 0;
}

.card-text-status{
    text-decoration: underline;
    color: #7a18c5;
    display: inline;
    padding-left: 10px;
}

.card-img{
    width: 85px;
    height: 75px;
    border-radius: 50%;
    border-color: #7a18c5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.candidato .card .card-img{
    background-image: url(../images/custom-perfil/no-picture.png);
    border: 1px solid #7a18c5;
} 

.card-title{
    margin-bottom: 0;
}

.title-user{
    margin-bottom: 0;
    color: rgb(156, 156, 156);
}

/*footer*/
.footer{
    position: absolute;
    width: 100%;
    bottom: -1;
}

/*separação*/
hr{
    margin: 0 0 25px 0;
}

/*@media screens*/
@media screen and (min-width:576px){
    /*Forms*/
    .form-select{
        margin-top: -30px;
        margin-left: 150px;
    }

    /*cards*/
    .card-body{
        height: 65px;
    }
}

@media screen and (min-width:900px){

}

@media screen and (min-width:1250px){

}