@import url(./bootstrap.min.css);
@import url(./global.css);

.form-label-interview {
    width: 41vw;
}

.text-area {
    height: 5rem;
}

.buttons {
    gap: 10px;
}

.title {
    width: 100%;
    gap: 10px
}

textarea.form-control {
    margin-left: 0;
}

@media (max-width: 576px) {
    .title-interview {
        width: 44vw;
    }
}