@import url(./bootstrap.min.css);
@import url(./global.css);
@import url(./custom-requisicao-de-vaga.css);

/*tittles*/
.title{
    width: 100%;
}

/*forms*/
.edit{
    color: #B8B8B8;
}

.edit:focus{
    color: #212529;
}